.header{
    background:#8b2845;
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    text-align: center;
} 

.header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.header a:hover{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    color: #503838;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.last-content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.last-content img {
    max-width: 100px;
    margin-bottom: 10px;
}

.last-content h3 {
    font-size: 20px;
    margin-top: 0;
}

.today-ride {
    margin: 20px 0;
    font-size: 16px;
}

.textbox {
    width: 60px;
    height: 20px;
    border: 2px solid ;
    border-color: #8b2845;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.complete-button,
.report-button {
    padding: 10px 20px;
    background-color: #8b2845;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.report-button {
    background-color: #ccc;
}

.complete-button:hover,
.report-button:hover {
    background-color: #fff;
    color: #8b2845;
}