.page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 800px;
}

.header{
    background:#8b2845;
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    text-align: center;
} 

.header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.header a:hover{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    color: #503838;
}

.logoAndTextWrap {
    width: 200px;
    height: auto;
    display: flex;
    text-align: center;
    margin-top: 50px;
    top: 50%;
}

.logoWrap img {
    width: 100px;
    height: auto;
}

.textWrap {
    font-size: 30px;
    font-weight: bold;
    color: #262626;
    margin-left: -10px;
    margin-top: 30px;
}

.title {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #262626;
    text-align: center;
}

.contentWrap {
    margin-top: 50px;
    flex: 1;
}

.inputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.inputWrapClear{
    display: flex;
    padding: 8px;
    margin-top: 4px;
    background-color: white;
}

.inputWrap:focus-within {
    border: 1px solid #8b2845;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.input::placeholder {
    color: #dadada;
}

.bottomButton {
    width: 92%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #8b2845;
    border-radius: 64px;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
}

.bottomButton:disabled {
    background-color: #dadada;
    color: white;
}

.signUp {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 320px) {
    .header {
      /* 여기에 필요한 스타일을 적용하세요. 예: */
      font-size: 18px;
    }

    .header a {
        /* 여기에 필요한 스타일을 적용하세요. 예: */
        margin: 0 10px;
    }

    .inputWrap {
        /* 필요한 변경을 적용하세요. 예: */
        margin-left: 20px;
        margin-right: 10px;
    }

    .inputTitle {
        margin-left: 20px;
        font-size: 12px;
        font-weight: 600;
        color: #262626;
    }

    .bottomButton {
        width: 80%;
        margin-left: 20px;

    }
}
