.header{
    background:#8b2845;
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    text-align: center;
} 

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 800px;
}

.header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.header a:hover{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    color: #503838;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.last-content {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.last-content img {
    max-width: 200px;
    margin-bottom: 10px;
}

.last-content h3 {
    font-size: 20px;
    margin-top: 0;
}
.verificationButton{
    margin-top:30px;
    padding: 10px 20px;
    color:#525252;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
}

.verificationButton:hover{
    margin-top:30px;
    padding: 10px 20px;
    color:white;
    border: none;
    background-color:#8b2845;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
}

.complete-button {
    margin-top:30px;
    padding: 10px 20px;
    color:#525252;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.complete-button:hover{
    margin-top:30px;
    padding: 10px 20px;
    color:white;
    border: none;
    background-color:#8b2845;
    border-radius: 5px;
    cursor: pointer;
}

.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textbox {
    width: 30%;
    max-width: 480px;
    height: 20px;
    border: 2px solid ;
    border-color: #8b2845;
}

@media screen and (min-width: 1040px) {
    .header {
        justify-content: center;
    }

    .nav-container {
        width: 80%;
    }
}

