<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 기타 추가 스타일시트 링크 -->
</head>
<body>
    <header>
        <h1>회원가입과 이메일 인증</h1>
        <p>
            <!-- 회원가입 페이지로 이동하는 링크 -->
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary">회원가입</a>
        </p>
    </header>
    
    <main class="container">
        {% block content %}
        <!-- 각 페이지에서 확장될 내용 -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- 푸터 내용 -->
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 기타 추가 스크립트 -->
</body>
</html>
