<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        
        <div>
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        
        <div>
            <a href="{% url 'accounts:verify_email' %}">이메일 인증하기</a>
        </div>

        <div>
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        
        <div>
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>


