<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="main.css" rel="stylesheet" href="styles.css">
    <link href="edit.css" rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>DukXi</title>
</head>
<body id = "body">
    <div id="App">
        <div id="my-page-nav">
            <a href= "edit.html">
                <span class="material-symbols-outlined" id="back">
                arrow_back_ios_new
                </span>
            </a>
            <div id="edit">이메일 변경</div>
            <div></div>
        </div>
        <br /><br /><br />
        <form class="edit-profile-form">
            <label for="new-email">새로운 이메일:</label>
            <input type="email" id="new-email" email="new-email"><br><br>
            <button class="b" type="button" id="update-profile">저장</button>
        </form>
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const updateButton = document.getElementById("update-profile");
                updateButton.addEventListener("click", function () {
                    const newEmail = document.getElementById("new-email").value;
                    // 'edit.html'로 새 이름을 전달
                    window.location.href = `edit.html?newEmail=${newEmail}`;
                });
            });
        </script>
        <footer id='footer'>
            CodeWithDuksung 03
        </footer>
</body>
</html>