<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}" />

    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'edit/edit.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>DukXi</title>
</head>
<body id = "body">
    <div id="App">
        <div id="my-page-nav">
            <a href= "{% url 'mypage:edit_mypage' %}">
                <span class="material-symbols-outlined" id="back">
                arrow_back_ios_new
                </span>
            </a>
            <div id="edit">프로필 사진 변경</div>
            <div></div>
        </div>
        <br /><br /><br />
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_profile.image %}
        <p>현재 프로필 사진:</p>
        <img src="{{ user_profile.image.url }}" alt="현재 프로필 사진">
        {% else %}
        <p>프로필 이미지 없음</p>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">저장</button>
    </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const updateButton = document.getElementById("update-profile");
                updateButton.addEventListener("click", function () {
                    const newPassword = document.getElementById("new-password").value;
                    window.location.href = `edit.html?newPassword=${newPassword}`;
                });
            });
        </script>
        <footer id='footer'>
            CodeWithDuksung 03
        </footer>
</body>
</html>