<!-- <!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>마이페이지</title>
</head>
<body>
    <h1>마이페이지</h1>
    <p>사용자 이름: {{ user_profile.username }}</p>
    <p>이메일: {{ user_profile.email }}</p>
    {% if user_profile.image %}
        <img src="{{ user_profile.image.url }}" alt="프로필 이미지">
    {% else %}
        <img src="{% static 'image/image.png' %}" alt="기본 이미지">
    {% endif %}
    <br>
    <a href="{% url 'mypage:edit_mypage' %}">프로필 수정</a>
    <p>전화번호: {{ user_profile.phone_number }}</p>
   <p>가입 일자: {{ user_profile.signup_date }}</p>
    <a href="{% url 'mypage:my_record' %}">내가 작성한 글</a><br>
</body>
</html> -->

<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'mypage/mypage.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'edit/usage.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'profile.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>DukXi</title>
</head>

<body id = "body" style="margin: 0px;">
    <div id="App">
        <div id="my-page-nav">
          <a href= "{% url 'main:search' %}">
            <span class="material-symbols-outlined" id="back">
              arrow_back_ios_new
            </span>
          </a>
          <div id="Mypage" style="color: white;">마이 페이지</div>
          <a href="{% url 'mypage:edit_mypage' %}">
            <span class="material-icons" id="setting">
              settings
            </span>
          </a>
        </div><br/><br/><br/>
        <table id='table'>
          <tbody id="profile">
            <td>
              {% if user_profile.image %}
              <img id="profile-img2" src="{{ user_profile.image.url }}" alt="프로필 이미지">
              {% else %}
               <img id="profile-img" src="{% static 'image/image.png' %}" alt="Profile" />
              {% endif %}
            </td>
            <td>
              <div id='profilelist'>
                <li>
                  <div id="profile-name">안녕하세요, {{ user_profile.username }} 님!</div>
                </li> <br/>
                <li>
                  <div id="profile-email">{{ user_profile.email }}</div>
                </li>
              </div>
            </td>
          </tbody>
        </table>
        <hr/>
        <h2 id="use">사용 내역</h2> <hr/><br/>
        {% for board in completed_boards %}
        <div class="usage-box">
        <div class="usage-history">
            <h2 class="usage-description">{{ board.s_title }} - {{ board.d_title }}</h2>
            <p class="usage-time">{{ board.create }}</p>
        </div>
        </div>
        {% endfor %}
<!--        <div id="usageHistoryContainer">-->
<!--        </div>-->
<!--        <script>-->
<!--            document.addEventListener("DOMContentLoaded", function() {-->
<!--                let usageHistory = [-->
<!--                { id: 1, description: "사용 내역", time: '2023-08-21 10:30 AM' },-->
<!--                { id: 2, description: "사용 내역", time: '2023-08-21 10:30 AM' },-->
<!--                { id: 3, description: "사용 내역", time: '2023-08-21 10:30 AM' },-->
<!--                { id: 4, description: "사용 내역", time: '2023-08-21 10:30 AM' },-->
<!--                // ... 추가 사용내역 데이터-->
<!--                ];-->

<!--                const usageHistoryContainer = document.getElementById("usageHistoryContainer");-->

<!--                usageHistory.forEach(use => {-->
<!--                const usageBox = document.createElement("div");-->
<!--                usageBox.className = "usage-box";-->

<!--                const usageHistoryDiv = document.createElement("div");-->
<!--                usageHistoryDiv.className = "usage-history";-->

<!--                const h2 = document.createElement("h2");-->
<!--                h2.className = "usage-description";-->
<!--                h2.innerText = `${use.id}. ${use.description}`;-->

<!--                const p = document.createElement("p");-->
<!--                p.className = "usage-time";-->
<!--                p.innerText = `이용 시간: ${use.time}`;-->

<!--                usageHistoryDiv.appendChild(h2);-->
<!--                usageHistoryDiv.appendChild(p);-->

<!--                usageBox.appendChild(usageHistoryDiv);-->
<!--                usageHistoryContainer.appendChild(usageBox);-->
<!--                });-->
<!--            });-->
<!--        </script>-->
        <br/><br/><br/>
        <footer id='footer'>
            CodeWithDuksung 03
        </footer>
      </div>
</body>

</html>