<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'image/image.png' %}" />
    
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'edit/edit.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>DukXi</title>
</head>
<body id = "body">
    <div id="App">
        <div id="my-page-nav">
            <a href= "{% url 'mypage:edit_mypage' %}">
                <span class="material-symbols-outlined" id="back">
                arrow_back_ios_new
                </span>
            </a>
            <div id="edit">이름 변경</div>
            <div></div>
        </div>
        <br /><br /><br />
        <form class="edit-profile-form">
            <label for="new-name">새로운 이름:</label>
            <input type="text" id="new-name" name="new-name"><br><br>
            <button class="b" type="button" id="update-profile">저장</button>
        </form>
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const updateButton = document.getElementById("update-profile");
                updateButton.addEventListener("click", function () {
                    const newName = document.getElementById("new-name").value;
                    // 'edit.html'로 새 이름을 전달
                    window.location.href = `edit.html?newName=${newName}`;
                });
            });
        </script>
        <footer id='footer'>
            CodeWithDuksung 03
        </footer>
</body>
</html>