<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{{ profile_user.username }}의 프로필</title>
</head>
<body>
    <h1>{{ profile_user.username }}의 프로필</h1>

    <p>이름: {{ profile_user.username }}</p>
    <p>이메일: {{ profile_user.email }}</p>

    {% if user_profile %}
<!--        <p>전화번호: {{ user_profile.phone_number }}</p>-->
        <!-- 이미지 표시 -->
        {% if user_profile.image %}
        <img src="{{ user_profile.image.url }}" alt="프로필 이미지">
    {% else %}
        <img src="{% static 'image/image.png' %}" alt="기본 이미지">
    {% endif %}
    {% endif %}


<!--    <p>가입일: {{ user_profile.signup_date }}</p>-->
</body>
</html>
