<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if request.user == board.user %}
  <a href="{% url 'board:update' board.pk %}">수정</a>
  <a href="{% url 'board:delete' board.pk %}">삭제</a>
  {% endif %}
  <p>{{board.s_title}}</p>
  <p>{{board.d_title}}</p>
  <p>{{board.people}}</p>
  <p>현재 몇 명{{board.completion}}</p>
  


  <!--title로 지도에서 검색 후 latlng 받아오는 것......?-->
  
  
</body>
</html>