<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <link href="{% static 'detail/detail.css' %}" rel="stylesheet" >
    <link href="{% static 'main.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>DukXi</title>
</head>

<body style="margin:0px">
    <div id="App">
        <div id="my-page-nav">
            <a href="{% url 'board:walklist' %}">
                <span class="material-symbols-outlined" id="back">
                    arrow_back_ios_new
                </span>
            </a>
            <div id="detail">상세 정보</div>
            <div></div>
        </div>
        <br /><br /><br /><hr/>
        <div id="now">
            <h2 id="key"></h2>
            <hr />
            <h3 id="content"></h3>
            <h4 id="destination"></h4>
        </div>
        <a href="{% url 'channels:walkcreate_chat_room' board.pk %}">
            <div id="join-button">
                <button id="join"><span>채팅 참여</span></button>
            </div>
        </a>
        {% if request.user == board.user %}
  <a href="{% url 'board:walkupdate' board.pk %}">수정</a>
  <a href="{% url 'board:walkdelete' board.pk %}">삭제</a>
  {% endif %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // URL에서 쿼리 파라미터 가져오기
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);

                // 값 가져오기
                const id = "{{ board.pk }}";
                const start = "{{ board.s_title }}";
                const end = "{{ board.d_title }}";
                let many = parseInt("{{ board.people }}");
                // 출력
                const idOutput = document.getElementById('key');
                idOutput.innerText = `${id}. ${start} 부터 ${end} 까지 같이 가요!`;


                const content = document.getElementById('content');
                content.innerText = `같이 갈 사람 ${many}명 모집중!`;

                const destination = document.getElementById('destination');
                destination.innerHTML = `출발 장소 : ${start} <br/><br/>도착 장소 : ${end}`;


                const joinButton = document.getElementById('join');

                joinButton.addEventListener('click', function() {
                    if (many > 0) {
                        many--; // 참여자 수를 1 감소시킴
                        content.innerText = `같이 갈 사람 ${many}명 모집중!`;

                        if (many === 0) {
                            content.innerText = "마감되었습니다!";
                            joinButton.disabled = true; // 버튼 비활성화
                        }
                        // 변경된 'many' 값을 로컬 스토리지에 저장
                        localStorage.setItem('many', many.toString());

                        // many 바뀐 값으로 URL 업데이트
                        urlParams.set('many', many.toString());
                        const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
                        window.history.pushState({}, '', newUrl);
                    }
                });
            });
        </script>
        <footer id="footer">
            CodeWithDuksung 03
        </footer>
    </div>
</body>

</html>