<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first/first.css' %}">
    
    <title>first page</title>

</head>
<body>
    <div id="App">
        <div id="my-page-nav">
            <div id="logo">DukXi</div>
        </div>

    <div class="last-container">
        <div class="last-content">
            <img src="{% static 'first/dukxi_logo1.png' %}" class="dukxi" alt="Logo">
            
            <div class ="text">
                Let's go together !
            </div>
            <div class="button">
                <button class="complete-button" onclick="login()">로그인 하기</button>
            </div>
                <button class="complete-button" onclick="signup()">회원가입 하기</button>
        </div>
    </div>
    <script>
    function login(){
        window.location.href = "{% url 'accounts:login' %}";
    }
    
    function signup(){
        window.location.href = "email.html";
    }
    </script>
</body>
</html>