
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.last-content img {
    max-width: 500px;
    margin-bottom: 10px;
}

.dukxi{
    align-items: center;
    height: 300px;
}
.complete-button {
    margin-top:20px;
    padding: 10px 20px;
    color:#525252;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:500px;
}

.complete-button:hover{
    color:white;
    border: none;
    background-color:#8b2845;
    cursor: pointer;
}

.button{
    margin-top:40px;
}

.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#logo{
    color: white;
    text-align: center;
}


#my-page-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background:#8b2845;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}

.text{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top:20px;
}

